.toggle-button {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    justify-content: space-around;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    background: white;
    width: 24px;
    height: 1px;
}